$brown0: #805858; // <- not used in original design
$brown1: #977171;
$brown2: #C08C85;
$brown3: #EEC3B0;
$yellow: #FCE9D7;

.itemTitle{
  font-size:23px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $brown1;
  text-align: center;
}

.itemPrice{
  font-weight:500;
  font-size:17px;
  color:$brown1;
  text-align: center;
}

.itemDescription{
  font-weight:500;
  font-size:15px;
  color:$brown2;
  text-align: center;
}
.back{
  font-size:13px;
  color:$brown3;
  padding-top: 20px;
  text-align: center;
  &:hover{
    color: $yellow;
    text-decoration: underline;
  }
}
.menuItemRound{
  width:30%;
  padding-top:30%;
  overflow:hidden;
  position:relative;
  border-radius:50%;
  left: 50%;
  transform: translateX(-50%);
}
.menuItemImage{
  position:absolute;
  top:50%;
  left:50%;
  min-width:100%;
  height:100%;
  transform:translate(-50%,-50%);
  transition: 1s ease;
  &:hover{
    height:110%;
  }
}
